[user]
    name = suy0n9
    email = suy01v9@gmail.com
[includeIf "gitdir:~/dev/src/work/"]
    path = ~/.gitconfig-work
[core]
    excludesfile = /Users/suyong/.gitignore_global
[color]
    ui = true
[alias]
    co = checkout
    st = status
    br = branch
    cm = commit
    loga = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=format:'%c' --all --graph
[commit]
    template = /Users/suyong/.stCommitMsg
[ghq]
    root = ~/dev/src
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[interactive]
    diffFilter = diff-highlight
