[user]
    name = suy0n9
    email = suy01v9@gmail.com

[includeIf "gitdir:~/dev/src/work/"]
    path = ~/.gitconfig.local

[core]
    excludesfile = ~/.gitignore_global
    pager = less

[color]
    ui = true

[alias]
    co = checkout
    st = status
    br = branch
    cm = commit
    loga = log --graph --all --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%cn %C(reset)%s %C(red)%d' --date=short
    see = browse
    pr = pull-request

[ghq]
    root = ~/dev/src

[color "diff"]
    meta = 015 236
    #frag = 239 236
    #old = 167 normal
    #new = 030 normal
    context = 240
    commit = 226

[diff]
    tool = vimdiff
    indentHeuristic = true

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
