[user]
    name = suy0n9
    email = suy01v9@gmail.com

[core]
    excludesfile = ~/.gitignore_global
    autocrlf = input
    whitespace = cr-at-eol
    pager = delta

[interactive]
        diffFilter = delta --color-only

[delta]
    line-numbers = true
    side-by-side = true
    navigate = true
    syntax-theme = Monokai Extended

[color]
    ui = true

[alias]
    co = checkout
    st = status
    br = branch
    cm = commit
    loga = log --graph --all --pretty='format:%C(yellow)%h %C(green)%cd %C(cyan)%cn %C(reset)%s %C(red)%d' --date=short

[ghq]
    root = ~/work
    root = ~/dev/src

[include]
    path = ~/.gitconfig.work.ghq

[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig.work
[secrets]
    providers = git secrets --aws-provider
    patterns = (A3T[A-Z0-9]|AKIA|AGPA|AIDA|AROA|AIPA|ANPA|ANVA|ASIA)[A-Z0-9]{16}
    patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
    patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
    allowed = AKIAIOSFODNN7EXAMPLE
    allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
    templateDir = ~/.git-templates/git-secrets
