brew "awscli"
brew "bat"
brew "blueutil"
brew "coreutils"
brew "gnutls"
brew "cask"
brew "chezmoi"
brew "colordiff"
brew "curl"
brew "eza"
brew "findutils"
brew "fzf"
brew "gh"
brew "ghq"
brew "gibo"
brew "git"
brew "git-delta"
brew "git-secrets"
brew "gnu-sed"
brew "go"
brew "grep"
brew "helm"
brew "jq"
brew "kind"
brew "kubernetes-cli"
brew "kustomize"
brew "lazygit"
brew "mise"
brew "navi"
brew "peco"
brew "poetry"
brew "prettier"
brew "ripgrep"
brew "shellcheck"
brew "sheldon"
brew "starship"
brew "stern"
brew "the_silver_searcher"
brew "tmux"
brew "tree"
brew "vim"
brew "watch"
brew "wget"
brew "zoxide"
brew "zsh"
{{ if (eq .chezmoi.hostname "suy0n9") }}
brew "hugo"
cask "1password"
cask "obsidian"
cask "dropbox"
cask "choosy"
{{ else }}
cask "slack"
{{ end }}
cask "alfred"
cask "bartender"
cask "docker"
cask "espanso"
cask "font-fira-code-nerd-font"
cask "font-hack-nerd-font"
cask "font-sauce-code-pro-nerd-font"
cask "google-chrome"
cask "ghostty"
cask "karabiner-elements"
cask "notion"
cask "numi"
cask "stats"
cask "visual-studio-code"
cask "warp"
